.Home{
    background-color: #000766;
    width: 100%;
    height: 100%;
}

.Header{
    background-color: #f6f6f6;
    display: flex;
    flex: auto 1 1;
    flex-direction: row;
    align-items: center;
}

.flex-title{
    margin: 1.5%;
    margin-left: 5%;
    margin-right: auto;
    flex: 1;
}

.flex-button{
    margin-right: 1%;
    margin-left: 3%;
    flex: 1;
}

.Titulo{
    font-family: 'Noto Sans';
    font-size: 500%;
    justify-content: center;
    line-height: 21px;
    text-align: center; 
    color: #010112;   
}

.Conteudo{
    width: 100%;
    text-align: center;
}
.Conteudo figcaption{
    margin-top: 1%;
    font-family: 'Rubik';
    font-size: xx-large;
    color: #f0efe4;
}

#LogoV{
    margin-top: 5%;
}

.Login-button{
    margin-right: 3%;
    width: 150px;
    height: 50px;
    flex: 1;
    float: right;
    background-color: #ffdd30;
    border-color: hsla(0, 0%, 0%);
    border-radius: 30px;
    border-width: 0px;
    color: black;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 21px;
    text-align: center; 
}

section.container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000766;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f0efe4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffdd30;
    color: black;
  }

  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}