
.CadastroUsuario{
  background-image: linear-gradient(#000766,#010112);
  height: 100%;
}

.divCadastro{
  padding-left: 13%;
  padding-top: 10%;
  width: 100%;
  }

.formUsuario{
  padding-bottom: 3%;
  padding-top: 4%;
  padding-left: 7%;
  padding-right: 0%;
  background-color: white;
  border-radius: 20px;

  width: 85%;
}

.formUsuario.form *{
margin-bottom: 50%;
}

#cad-but{
  margin-top: 3.5%;
  margin-bottom: 0%;
  border-color: #000766;
  background-color: white;
  color: #000766;
  padding: auto;
}

#cad-but:hover{
  background-color: #000766;
  color: #f0efe4;
}

.type-spc{
  margin-bottom: 2%;
  color: #000766;
  font: 'Noto Sans';
  font-size: 17.5px;
}
