
.CadastroUsuario{
  background-image: linear-gradient(#000766,#010112);
  height: 100%;
}

.divCadastro{
  padding-left: 13%;
  padding-top: 5%;
  width: 100%;
  }

.formUsuario{
  padding-bottom: 3%;
  padding-top: 4%;
  padding-left: 7%;
  padding-right: 0%;
  background-color: white;
  border-radius: 20px;

  width: 85%;
}

.formUsuario.form *{
margin-bottom: 50%;
}

#cad-but{
  background-color: #ffdd30;
  color: #010112;
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: 20%;
  width: 35%;
  font-size: 120%;
  border-radius: 24px;
  text-align: center;
  margin-left: 28%;
  transition: all 500ms;
}

#cad-but:hover{
  transform: scale(0.95);
  transition: all 500ms;
  background-color: #eecd29;
  font-style: italic;
}

.type-spc{
  margin-bottom: 2%;
  color: #000766;
  font: 'Noto Sans';
  font-size: 17.5px;
}


.cad_title{
  margin-left: 38%;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #ffdd30;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

/* Style the links inside the navigation bar */
.linknav {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
}

/* Change the color of links on hover */
.linknav:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.linknav a.active {
  background-color: #ffdd30;
  color: black;
}