 .ProductProfile {
    text-align: center;
    margin-left: 30%;
  }

  #cartao{
    align-content: center;
    margin-left: 22.5%;
  }

  #image{
    max-height: 210px;
    align-self: center;
    width: auto;
  }

  .type{
    font-family: 'Noto Sans';
    font-size: 13px;
    text-align: left;
    color: black;
    margin-bottom: 0%;
  }

  .data{
    font-size: 15px;
    color: black;
    text-align: left;
    font-family: 'Rubik';
    margin-top: 0%;
  }

    #edit-but{
      margin-top: 10%;
      margin-right: 10%;
      background-color: white;
      color: #ffd500;
    }
    #edit-but:hover{
      background-color: #ffdd30;
      color: #f0efe4;
    }

    #delet-but{
      margin-top: 10%;
    }
    #delet-but:hover{
      color: #f0efe4;
    }