
  .user-itens {
    display: inline-flex;
    height: 100%;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-top: 5%;
  }
  
  .hoverable {
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik';
    padding-bottom: 5%;
    padding-right: 5%;
  }

  .User{
    background-color: #f0efe4;
  }
