  
.UserProfile {
    text-align: center;
    height: 100%;
  }

  #user-Cartao{
    align-content: center;
    margin-left: 22.5%;
    height: 100%;
  }

  #user-Image{
    max-height: 210px;
    width: auto;
    align-self: center;
    cursor: pointer;
  }

  #profile-name{
    cursor: pointer;
  }

  .user-Type{
    font-family: 'Noto Sans';
    font-size: 13px;
    text-align: left;
    color: black;
    margin-bottom: 0%;
  }

  .user-Data{
    font-size: 15px;
    color: black;
    text-align: left;
    font-family: 'Rubik';
    margin-top: 0%;
  }

    #user-edit-but{
      margin-top: 3%;
      margin-right: 10%;
      background-color: white;
      color: #ffd500;
    }
    #user-edit-but:hover{
      background-color: #ffdd30;
      color: #f0efe4;
    }

    #user-delet-but{
      margin-top: 3%;
    }
    #user-delet-but:hover{
      color: #f0efe4;
    }