  .botao-cadastro{
  width: 100%;
  margin-bottom: 5%;
  padding-left: 27.5%;
  }

  #botaoCadastro {
    height: 25%;
    margin-top: 2.5%;
    text-align: center;
    background-color: #000766;
    border-color: #000766;
    color: #f0efe4;
    font-family: "Noto Sans";
  }

  #botaoCadastro:hover{
    transform: scale(0.95);
    transition: all 500ms;
    background-color: #000435;
    font-style: italic;
  }

  .itens {
    display: inline-flex;
    padding-left: 25%;
  }
  
  .hoverable {
    text-align: center;
    text-decoration: none;
    padding-left: 10%;
    font-family: 'Rubik';
  }