.Dashboard{
    height: 100%;
    background-color: #f0efe4;
    font-family: 'Noto Sans';
}

.flex-column.nav *{
    margin-inline: auto;
}

#link{
    color: #000766;
    text-decoration:underline;
}

#link:hover{
    color: #000dbe;
}

.flex-column.nav{
    position: fixed;
    top: 0%;
    margin: 0;
    display: inline-flex;
    width: 25%;
    height: 100%;
    background-image: linear-gradient(#ffdd30 5% , #f0efe4);
}

#nome{
    color: black;
    font-size: 5vh;
}
#email{
    color: black;
    font-size: 2.5vh;
    margin-bottom: 7.5%;
}

#logout-button{
    width: 25%;
}

.userImage{
    width: 75%;
}