.Dashboard{
    background-color: #f0efe4;
    font-family: 'Noto Sans';
    height: 100%;
}

.flex-column.nav *{
    margin-inline: auto;
}

.Cont{
    height: 100%;
    display: flex;
    background-color: #f0efe4;
}

.right-Itens{
    width: 80%;
}

#link{
    color: #000766;
    text-decoration:underline;
}

#link:hover{
    color: #000dbe;
}

.flex-column.nav{
    margin: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(#ffdd30 , white);
}

#logout-button{
    width: 25%;
}

.userImage{
    width: 75%;
}

#email{
    color: black;
    padding-bottom: 5%;
}

#to-user{
    padding-top: 5%;
    color: black;
    text-align: center;
}

/* Add a background color to the top navigation */
.top-nav {
    background-color: #000766;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  #link-nav {
    float: left;
    color: #f0efe4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  #link-nav:hover {
    background-color: #ddd;
    color: #000766;
  }
  
  /* Add a color to the active/current link */
  .linknav a.active {
    background-color: #ffdd30;
    color: black;
  }

  .carregando{
      background-color: #f0efe4;
      color: #000766;
      font-size: 30px;
      height: 100%;
  }