.ProductCard img {
    object-fit: cover;
  }
  
.ProductCard p.name {
    font-size: 3vh;
  }
  
.ProductCard p {
    color: black;
    font-size: 2vh;
  }

.ProductCard:hover{
  transform: scale(1.05);
  transition: all 500ms;
 border-style: dashed;
  border-color: #000766;
}

.ProductCard{
  border-style: solid;
  border-width: 1px;
  border-color: #000766;
  background-color: white;
  height: 250px;
}